<ul class="nav nav-tabs">
  <li class="nav active"><a href="#test-views" data-toggle="tab">test-Views</a></li>
  <li class="nav"><a href="#test-edits" data-toggle="tab">test-Edits</a></li>
  <li class="nav"><a href="#test-blog-posts" data-toggle="tab">test-Blog posts</a></li>
  <li class="nav"><a href="#test-login" data-toggle="tab">test-Login</a></li>
</ul>
<br>

<div class="tab-content">

  <!-->test views here<-->
  <div class="tab-pane fade in active" id="test-views">
    <dg-view-markdown></dg-view-markdown>
    <dg-view-html></dg-view-html>
    <dg-view-text></dg-view-text>
  </div>

  <!-->test views below<-->
  <div class="tab-pane fade" id="test-edits">
    <dg-edit-markdown></dg-edit-markdown>
  </div>

  <!-->test blog-test below<-->
  <div class="tab-pane fade" id="test-blog-posts">
    <dg-view-markdown *ngFor="let post of posts | async; let i = index" [post]="post" [key]="post.$key" id="post_{{i}}" [editable]="true"></dg-view-markdown>
    <dg-loading-spinner *ngIf="showSpinner"></dg-loading-spinner>
  </div>

  <!-->test login below<-->
  <div class="tab-pane fade" id="test-login">
    <dg-login></dg-login>
  </div>
</div>