
<div class="test-tab">
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" [routerLinkActive]="['active']" routerLink="test-views">Test-Views</a>
        <a class="flex-sm-fill text-sm-center nav-link" [routerLinkActive]="['active']" routerLink="test-edits">Test-Edits</a>
        <a class="flex-sm-fill text-sm-center nav-link" [routerLinkActive]="['active']" routerLink="test-blog-posts">Test-Blog-Posts</a>
        <a class="flex-sm-fill text-sm-center nav-link" [routerLinkActive]="['active']" routerLink="test-login">Test-Login</a>
        <a class="flex-sm-fill text-sm-center nav-link" [routerLinkActive]="['active']" routerLink="test-cards">Test-Cards</a>
    </nav>
</div>

<router-outlet></router-outlet>