.card-title {
    color: var(--main-white);
}

.card-link .md-light { 
    color: var(--main-white-lighter) 
}

.card-link:hover .md-light {
    color: var(--main-white)
}

a.perm-link {
    color: white;
}