<!-- https://stackoverflow.com/questions/24368457/bootstrap-3-adding-controls-to-a-panel-heading/24368794 -->

<div class="card mb-5">
  <div class="card-header bg-dark main-bg-lighter-color">
       <div *ngIf="editable && isAuth()" class="tool-box float-sm-right main-bg-bgcolor p-2 rounded">
          <a class="card-link pointer m-1" (click)="edit()" dgTooltip="Edit"><i class="material-icons md-light">&#xE254;</i></a>
          <a class="card-link pointer m-1" (click)="delete()" dgTooltip="Delete"><i class="material-icons md-light">&#xE872;</i></a>
       </div>
      <div class="float-sm-left">
          <a class="perm-link" href="#"><h2 class="card-title">{{post?.title}}</h2></a>
          <h5>{{post?.createdAt | date}}</h5> 
          <h5 *ngIf="post.lastUpdate">Last update: {{post?.lastUpdate | date}}</h5>
      </div>
  </div>
  <div class="card-body">
    <markdown-to-html [data]="post?.content"></markdown-to-html>
    <!-- <div [innerHTML]="post.content | MarkdownToHtml"></div> -->
  </div>
</div>