<div class="container col-sm-offset-4 col-sm-4 loginForm">
  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h2 class="form-signin-heading">Admin</h2>
    <div *ngIf="success" class="alert alert-success">
      <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
      <strong>Successfully logged in</strong>
    </div>
    <div *ngIf="alert" class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <strong>{{alertMessage}}</strong>
    </div>
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <div class="input-group">
        <input type="email" 
           id="inputEmail" 
           class="form-control" 
           placeholder="Email address" 
           autofocus
           formControlName="email">
        <span class="input-group-addon black">
          <span [ngClass]="{
                  'glyphicon': true, 
                  'glyphicon-remove': !loginForm.get('email').valid, 
                  'glyphicon-ok': loginForm.get('email').valid}"></span>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <div class="input-group">
        <input type="password" 
            id="inputPassword" 
            class="form-control" 
            placeholder="Password" 
            formControlName="password">
      <span class="input-group-addon black">
          <span [ngClass]="{
                  'glyphicon': true, 
                  'glyphicon-remove': !loginForm.get('password').valid, 
                  'glyphicon-ok': loginForm.get('password').valid}"></span>
        </span>
      </div>
    </div>
    <!--
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    -->
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid || success">Sign in</button>
  </form>
</div>