.dicon-logo {
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:32px;
    height:32px;
}

.dicon-anchor {
    padding: 10px;
}

.retain-text {
    white-space: pre-wrap;
}

.pointer {
    cursor: pointer;
}